
# Python Output

runs/
test/runs
test/wandb
wandb/
train_log.txt
parse_slurm_out.py

protopnet.egg-info/

venv
.venv
*.pt
save_path_test/**
rcteg_env
rcteg_env/
/rcteg_env/
/DCN.egg-info/
DCN.egg-info/
DCN.egg-info
dist
/dist/
dist/
.pretrained-models/**
/outputs/
**pure**
/protopnet/make_new_data.ipynb
test/out
test/tmp
Testing Vanilla Training
CIFAR10

runs/
test/runs/
test/train_log.txt
test/wandb/
train_log.txt
wandb/
training/slurm

.coverage
unit-test.xml
coverage.xml
.coverage.*
.DS_Store
.tox
__pycache__
**/*.pyc
**/.pytest_cache
build
notebooks

# IDE Configs
.idea
*.swp

# Build
logs
lightning_logs
data
htmlcov
.env

/DCN.egg-info/
/dist/
/saved_models/
*.out
*.err

fake_test*
/outputs/

/protopnet/train_labels_a
/protopnet/train_labels_b
/protopnet/Untitled.ipynb
loss.txt
/protopnet/pacmap_test
/protopnet/run_pacmap.py


vis_test/*
reproject_models/*
*.pth

plops/*

# TODO - remove this
pretrained_models/**

*.pkl